.createContent{
    margin-top: 10%;
}

.contentForm{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.errorContent{
    color: red;
    font-weight: bold;
}

.title{
    margin-top: 5%;
    text-align: center;
}

.contentTable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    width: 80%;
}